{% extends 'base.html.twig' %}

{% block title 'Agence Ben Mahmoud' %}
{% block body %}
    <div class="jumbotron text-center font-weight-bold ">
        <div class="container">
            <h1 class="head" style="width: auto"><i class="fas fa-truck-monster"></i> <b>AGENCE BEN MAHMOUD</b> <i class="fas fa-truck-pickup"></i></h1>
        </div>
    </div>

    <div class="container">
        <h2 style="animation-direction: alternate"><i class='fa fa-cart-arrow-down'></i> <I>Voir nos derniers matériels ajoutés</I> : </h2>
        <div class="row flex">

       {% for property in properties %}
           <div class="col-3">
               <div class="card">
                    <div class="body">

                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="card md-4">
                                    {% if property.filename %}
                                        <img src="/images/properties/{{ property.filename }}" alt="card-img-top" style="width: 100%;height: auto;">
                                    {% endif %}
                                <a href="{{ path('property.show',{id:property.id}) }}"> {{ property.title }} </a>
                            </h5>
                            <p class="card-text">{{ property.location }}</p>
                            <div class="text-primary" style="font-weight: bold;font-size:medium"> {{ property.formattedPrice() }} DT</div>

                        </div>

                    </div>

               </div>

           </div>

        {% endfor %}

        </div>

    </div>

{% endblock %}



