{% extends 'base.html.twig' %}
{% block title property.title %}
{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
            {% endfor %}
        <div class="row">
            <div class="col-md-8">
                <div class="card md-4">
                    {% if property.filename %}
                        <img src="/images/properties/{{ property.filename }}" alt="card-img-top" style="width: 70%;height: 60%;">
                    {% endif %}
        </div>

                <div class="col-md-4"></div>
            <h3>{{ property.name }}</h3>
            <div class="text-primary" style="font-size:large ;font-weight:bolder;">{{ property.formattedPrice() }} DT</div>
                <div id="contactForm" class="mt-4">
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col">{{ form_row(form.firstName) }}</div>
                        <div class="col">{{ form_row(form.lastName) }}</div>
                    </div>
                    <div class="row">
                        <div class="col">{{ form_row(form.phoneNumber) }}</div>
                        <div class="col">{{ form_row(form.email) }}</div>
                    </div>
                    {{ form_rest(form) }}
                    <div class="form-group">
                        <button class="btn btn-danger"><i class="fa fa-envelope-open"></i> Contacter nous</button>
                    </div>
                    {{ form_end(form) }}

                </div>

        </div>

    </div>
       </div>
           </div>

     <div class="container mt-4">
    <p style="font-family: Arial">
        {{ property.description | nl2br }}
    </p>
         <div class="row">
             <div class="col-md-8">
                 <h2> <b>Caratéristiques de l'article </b>:<i class="fas fa-comment"></i> </h2>
                 <table class="table table-striped">
                     <tr>
                         <td>Marque</td>
                         <td>{{ property.marque }}</td>
                     </tr>
                     <tr>
                         <td>Puissance</td>
                         <td>{{ property.puissance }}</td>
                     </tr>
                     <tr>
                         <td> Kilométrage</td>
                         <td> {{ property.compteur }}</td>
                     </tr>
                     <tr>
                         <td>Tranmission</td>
                         <td>{{ property.tranmission }}</td>
                     </tr>

                 </table>

             </div>
             
             <div class="col-md-4">
                 <h2> <i class="fa fa-eye"></i><b> Voir plus d'options </b>: </h2>
                  <ul class="list-group">
                 {% for option in property.options %}
                 <li class="list-group-items">{{ option.name }}</li>
                 {% endfor %}
                  </ul>
             </div>

         </div>

     </div>

{% endblock %}

