{{ form_start(form) }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="row">
    <div class="col-md-4" style="font-size: inherit">{{ form_row(form.name) }}  </div>

</div>

{{ form_rest(form) }}
<button class="btn btn-danger"> {{ button|default('Enregistrer') }}</button>
{{ form_end(form) }}
